

header {
    justify-content: space-between;
    margin: auto;
    display: flex;
    height: 40px;
    width: 90%;
    top: 0;
}

.top{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.signin{
    font-size: 12px;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    height: 30px;
    color: white;
    background: $blue;
    display: flex;
    align-items: center;
}

main{
    height: 450px;
    background: $background-img;
    color: white;
    background-size: cover;
    background-position: center;
    width: 100%;
    align-items: center;
    display: flex;
    position: relative;
    display: inline-block;
    flex-direction: column;

    h1{
        font-size: 30px;
    }
}



main::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 450px;
    background: #000000;
    opacity: 0.2;
    transition: .3s;
}

section:hover::before{
    opacity: 0;
}

.content{
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 60%;
    width: 60%;
    height: 100%;
}

.align{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.email{
    padding: 20px;
    display: flex;
    align-items: left;
    justify-content: left;
}

input{
    border: none;
    border-radius: 3px;
    padding: 10px;
    height: 30px;
    width: 330px;
}

form{
    // margin: auto; ON FULL DISPLAY
    align-items: center;
    justify-content: center;
}

button{
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    color: white;
    background: $blue;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    position: absolute; 
    // position: relative; ON MOBILE
}

content{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
}

.container h5{
    text-align: center;
}
.container p{
    text-align: center;
}

content .container{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    width: 30%;
    height: auto;
    display: block;
    flex-wrap: wrap;
}


content .bar{
    display: block;
    margin: 0 auto;
}

content, h5, p{
    padding-top: 15px;
    text-align: left;
}

p{
    font-size: smaller;
    opacity: 0.8;

}

h5{
    font-size: 20px;

}

section{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background: white;
}


.section-2{
    background: $iphone;
    background-size:cover;
    background-position:center;
}

.section-3{
    background: $programing;
    background-size:cover;
    background-position:center;
}

.section-6{
    background: $kid;
    background-size:cover;
    background-position:center;
}

.section-1,.section-2,.section-3,.section-4,.section-5,.section-6, {
    margin:auto;
    height: 400px;
    width: 50%;
    margin: auto;
    padding: 50px;
}

.container2{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    position: relative;

    p{
        margin: auto;
        align-items: center;
        text-align:center;
        padding: 20px;
    }
}

h7{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content:center;
}

.people{
    width: 90%;
    height: auto;
    margin: auto;
    padding-top: 20px;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    position: relative;
    flex-direction: row;

}

.pic{
    margin: 20px;
    height: auto;
    width: 30%;
    flex-direction: column;
    display: block;
    justify-content: center;
    align-items: center;
}

.margaret{
    background: $worker1;

}

.fred{
    background: $worker2;
}

.sarah{
    background: $worker3;
}

.margaret, .fred, .sarah{
    background-size:cover;
    background-position:center;
    height: 150px;
    width: 150px;
    margin: auto;
    padding: 50px;
    border-radius: 50%;
    box-shadow: 0px 3px 3px  grey;
}
.content2{
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 60%;
    width: 60%;
    height: 100%;
}

div.bottom{
    height: 250px;
    background: $background-img;
    color: white;
    background-size: cover;
    background-position: center;
    width: 100%;
    align-items: center;
    display: flex;
    position: relative;
    display: inline-block;
    flex-direction: column;
}

div.bottom::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    background: #000000;
    opacity: 0.2;
    transition: .3s;
}

footer {
    width: 100%;
    height: 150px;
    margin: auto;
    background: $background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alignfooter {
    margin-left: 5%;
    width: 90%;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
}

.left-section,
.right-section {
    display: flex;
    align-items: center;
}

.left-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .calls {
    display: flex;
    gap: 15px;
}

footer .social {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

footer i {
    color: $blue;
    transition: .3s;
}

footer i:hover {
    transform: scale(1.2);
    color: rgb(57, 57, 183);
}

footer a {
    text-decoration: none;
    font-size: 10px;
    text-align: left;
    color: $blue;
    margin: auto;
    width: auto;
    height: 15px;
    display: flex;
    transition: .3s ease-in-out;
}

footer h9 {
    font-size: 8px;
    width: auto;
    margin: auto;
    color: darkgrey;
    align-items: left;
    display: flex;
    float: left;
    align-content: flex-start;
    align-self: flex-start;
}