@media (max-width: 430px) {

    body{
        max-width: 425px;
    }
    header {
        flex-direction: column;
        align-items: center;
    }

    .top {
        flex-direction: row;
        height: 65px;
        padding-bottom: 25px;
    }

    main{
        max-width: 425px;
        height: 500px;
        margin: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 250px;
            background: #000000;
            opacity: 0.2;
            transition: .3s;
          }
    } .align{
        max-width: 425px;
        height: 500px;
        margin: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

            &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 500px;
            background: #000000;
            opacity: 0.2;
            transition: .3s;
          }
        
    }

    .align h1{
        margin: auto;
        padding: 20px;
        font-size: 35px;
        text-align: center;
        z-index: 1;
    }

    .signin{
        margin: 10px;
        align-items: center;
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

   .email{
    max-width: 425px;
   }

   input{
    margin: auto;
    align-items: center;
    display: flex;
    position: relative;
    min-width: 300px;
    max-width: 45px;
   }

   button{
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 100px;
    align-items: center;
    display: flex;
    position: relative;
    min-width: 300px;
    max-width: 405px;
   }

    main {
        height: auto;
        max-width: 425px;
    }

    main::before {
        height: auto;
        
    }

    .content {
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
    }
    content {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    div.container{
        margin: auto;
        align-items: center;
        height: 200px;
        width: 100%;
    }

    .container h5,
    .container p {
        text-align: center;
        align-items: center;
        margin: auto;
    }

    .container .container {
        width: 80%;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
      
        .section-1,
        .section-2,
        .section-3,
        .section-4,
        .section-5,
        .section-6 {
          width: 100%;
          padding: 20px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          align-items: left;
          font-size: 1.5em;
      
          &:nth-child(1) {
            order: 2; 

          }
      
          &:nth-child(2) {
            order: 1; 
                  }
      
          &:nth-child(3) {
            order: 3; 

          }
      
          &:nth-child(4) {
            order: 3; 
                  }
      
          &:nth-child(5) {
            order: 6; 
                  }
      
          &:nth-child(6) {
            order: 5; 
                  }
        }
        h5{
            font-size: 1.5em;
        }
        p{
    
            font-weight: 350;
        }
      }

    div .section-1{
        order: 2;
    }

    .people {
        flex-direction: column;
    }

    .pic {
        width: 80%;
        margin: 10px auto;
    }
    div.align{
        max-width: 425px;
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
        background: $background-img;
        color: white;
        background-size: cover;
        background-position: center;
        width: 100%;
      
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 250px;
          background: #000000;
          opacity: 0.2;
          transition: .3s;
        }
      
        .content2 {
          margin: auto;
          text-align: center;
      
          h2 {
            font-size: 20px;
            text-align: center;
            margin-top: 50px;
          }
      
          .align {
            position: relative;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
      
            .email {
              padding-top: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
      
              form {
                align-items: center;
                justify-content: center;
      
                label {
                  display: none;
                }
      
                input {
                  border: none;
                  border-radius: 3px;
                  padding: 10px;
                  height: 30px;
                  width: 330px;
                }
      
                button {
                  display: inline-block;
                  text-decoration: none;
                  border: none;
                  cursor: pointer;
                  border-radius: 5px;
                  height: 30px;
                  width: 100px;
                  color: white;
                  background: $blue;
                  margin-left: 5px;
                  align-items: center;
                  justify-content: center;
                  position: absolute;
                  transition: .3s ease-in-out;
      
                  &:hover {
                    background: rgba(30, 30, 248, 0.418);
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
      }

    footer {
        height: auto;
    }

    .alignfooter {
        padding: 0;
        margin: auto;
        flex-direction: column;
        width: 80%;
    }

    .left-section,
    .right-section {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    footer .calls {
        margin-top: 50px;
        flex-direction: row;
        align-items: center;
    }

    footer .social {
        margin-top: 20px;
        padding: 5px;
        flex-direction: row;
    }

    footer a,
    footer h9 {
        text-align: center;
        align-items: center;
        margin-top: 10px;
        // margin: auto;
    }
    .right-section {
        margin-bottom: 25px;
    }
}
