$background: #f8f9fa;
$blue: #007bff;


$font-family: "Lato";

$background-img: url("..//images/bg-masthead.jpg");
$iphone: url("..//images/bg-showcase-1.jpg");
$programing: url("../images/bg-showcase-2.jpg");
$kid: url("../images/bg-showcase-3.jpg");
$worker1: url("../images/testimonials-1.jpg");
$worker2: url("../images/testimonials-2.jpg");
$worker3: url("../images/testimonials-3.jpg");

$screen: url("../images/screen.png");
$stack: url("../images/stack.png");
$check: url("../images/check.png");

